@model IEnumerable<TempMotoWeb.Models.Medicao>

@{
    ViewData["Title"] = "Documentação";
}

<h2>Documentação do Aplicativo TempMotoWeb</h2>

<p>Esta documentação tem como objetivo explicar como usar o aplicativo TempMotoWeb, as funcionalidades disponíveis e as condições impostas pelo código para facilitar o entendimento do usuário.</p>

<h3>Funcionalidades Principais</h3>
<ul>
    <li><strong>Exibição da Temperatura e pH da Água</strong></li>
    <li><strong>Indicador de Qualidade da Água</strong></li>
</ul>

<h3>Como Usar o Aplicativo</h3>
<ol>
    <li><strong>Acessar o Aplicativo:</strong> Abra o navegador e acesse o endereço do aplicativo TempMotoWeb.</li>
    <li><strong>Visualizar a Temperatura e pH:</strong> Na página principal, visualize a temperatura atual e o pH da água.</li>
    <li><strong>Verificar a Qualidade da Água:</strong> Verifique o indicador de qualidade da água para saber se a água está boa para consumo ou se a limpeza é recomendada.</li>
</ol>
