@model IEnumerable<TempMotoWeb.Models.Medicao>

@{
    ViewData["Title"] = "Mapa";
}
@section Header{
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: mapsKey, v: "beta" });
    </script>
    <script src="~/js/MapaMult.js"></script>
}

<h1>Mapa</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <select id="selected" name="selected" multiple class="form-select form-select-sm" aria-label="multiple select example">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@(item.endereco?? item.Data_Medicao.ToString()) </option>
            
                }
            </select>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="montarMapa();">Mostar no mapa</button>
        </div>
    </div>
</div>
<br/>
<hr/>

<div class="row">
    <div id="map" style="height:600px;"></div>
</div>