

@{
    ViewData["Title"] = "UploadCSV";
}
@section Header {
    <h1>Upload CSV</h1>
}

<input type="file" id="csvFileInput" accept=".csv">
<button onclick="handleUpload()">Upload CSV</button>

<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Temperatura</th>
            <th>Umidade</th>
            <th>Num_Satelites/th>
            <th>Velocidade/th>
            <th>Altitude</th>
            <th>datatime</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
        function handleUpload() {
            var fileInput = document.getElementById('csvFileInput');
            var file = fileInput.files[0];

            if (!file) {
                alert('Por favor, selecione um arquivo CSV.');
                return;
            }

            var reader = new FileReader();
            reader.onload = function (event) {
                var csvData = event.target.result;
                var rows = csvData.split('\n');
                var tbody = document.querySelector('#dataTable tbody');
                tbody.innerHTML = ''; // Limpa tabela e deixa vazio

                rows.forEach(function (row) {
                    var columns = row.split(',');
                    var endereco = columns[0];
                    var temperatura = columns[1];
                    var umidade = columns[2];
                    var velocidade = columns[3];
                    var dataMedicao = columns[4];

                    var newRow = '<tr>' +
                        '<td>' + endereco + '</td>' +
                        '<td>' + temperatura + '</td>' +
                        '<td>' + umidade + '</td>' +
                        '<td>' + velocidade + '</td>' +
                        '<td>' + dataMedicao + '</td>' +
                        '</tr>';
                    tbody.innerHTML += newRow;
                });
            };

            reader.readAsText(file);
        }
</script>